################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COSC2100_Demos_04/.vs/COSC2100_Demos_04
/OOP2_Demos/.vs/OOP2_Demos
/COSC2100_04_Demos/.vs
/COSC2100_04_Demos/Demo_w02a/.vs
/COSC2100_04_Demos/Demo_w02b_ThemedMonths/.vs
